{% extends 'clients/login_home.html' %}

{% load socialaccount %}
{% providers_media_js %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST" class="form-signin">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-danger btn-block" type="submit">Login</button>
    </div>
    <div class="border-top pt-3">
        <!-- <small class="text-muted">
            Need an account? <a href="{% url 'register' %}" class="ml-2">Sign Up Now</a>
        </small> -->

        <div class="form-group">
            <a href="{% provider_login_url 'google' %}">
                <button class="btn btn-danger btn-block" type="submit">Login with Google</button>
            </a>
            
        </div>
    </div>
</form>

{% endblock content %}


