{% extends 'clients/login_home.html' %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST" class="form-signin">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-danger btn-block" type="submit">Login</button>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account? <a href="{% url 'register' %}" class="ml-2">Sign Up Now</a>
        </small>
    </div>
</form>

{% endblock content %}


