{% extends 'clients/base.html' %}

{% block content %}
<!-- instantsearch.js -->
<script>
    const search = instantsearch({
        indexName: 'dev_PIXALATECLIENTS',
        searchClient: algoliasearch(
            'JTRUI65AWP',
            '62743a87ded39f0460ef058dfbbe78cf'
        ),
    });

    instantsearch.widgets.searchBox({
        container: document.querySelector('#searchBox'),
        searchAsYouType: true,
    });

    search.start();
</script>

<div id="searchBox"></div>
<input class="form-control mb-4" type="text" placeholder="placeholder for search">

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-uppercase">id</th>
            <th scope="col" class="text-capitalize">name</th>
            <th scope="col" class="text-capitalize">last updated</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td class="text-uppercase">{{ post.client_ID }}</td>
            <td><a href="{% url 'post-detail' post.id %}">{{ post.client_name }}</a></td>
            <td>{{ post.date_posted|date:'F d, Y' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

