{% extends 'clients/base.html' %}

{% block content %}

    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a href="#" class="mr-2">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:'F d, Y' }}</small>
            </div>
            <h2><a href="#" class="article-title">{{ post.client_name }}</a></h2>
            <p class="article-content">Client ID: <span class="client-info">{{ post.client_ID }}</span></p>
            <p class="article-content">Password: <span class="client-info">{{ post.client_password }}</span></p>
            <p class="article-content">FTP url: <span class="client-info">{{ post.client_FTP }}</span></p>
            <h4>API Creds:</h4>
            <p class="article-content">Login: <span class="client-info">{{ post.client_API_login }}</span></p>
            <p class="article-content">Password: <span class="client-info">{{ post.client_API_password }}</span></p>

        </div>
    </article>
    {% endfor %}

{% endblock content %}

<!-- <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-uppercase">id</th>
                <th scope="col" class="text-capitalize">name</th>
                <th scope="col" class="text-capitalize">created</th>
                <th scope="col" class="text-capitalize">author</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td class="text-uppercase">{{ post.client_ID }}</td>
                <td><a href="#">{{ post.client_name }}</a></td>
                <td>{{ post.date_posted|date:'F d, Y' }}</td>
                <td>{{ post.author }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> -->