{% extends 'clients/base.html' %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata mb-2">
            <div class="row">
                <div class="col-md-10 d-flex align-items-center">
                    <small>created by: <a href="#" class="mr-2">{{ object.author }}</a></small>
                    <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <div class="edit-btns">
                        {% if object.author == user %}
                        <a class="btn btn-secondary btn-sm my-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm my-1" href="{% url 'post-delete' object.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <h2 class="client-name">{{ object.client_name }}</h2>
        <p class="article-content"><strong>Client ID:</strong> <span class="client-info text-uppercase">{{ object.client_ID }}</span></p>
        <p class="article-content"><strong>Password:</strong> <span class="client-info">{{ object.client_password }}</span></p>
        <p class="article-content"><strong>Products:</strong> <span class="client-info">{{ object.client_products }}</span></p>
        <p class="article-content"><strong>FTP url:</strong> <span class="client-info">{{ object.client_FTP }}</span></p>
        <h4>API Creds:</h4>
        <p class="article-content"><strong>Login:</strong> <span class="client-info">{{ object.client_API_login }}</span></p>
        <p class="article-content"><strong>Password:</strong> <span class="client-info">{{ object.client_API_password }}</span></p>

        <div class="platform-btns">
            <a class="btn btn-primary btn-sm my-1 text-uppercase" href="https://dashboard.pixalate.com/reports.html?clientId={{ object.client_ID }}&reportId=overview" target="_blank">dashboard</a>
            <a class="btn btn-secondary btn-sm my-1 text-uppercase" href="#">mrt</a>
        </div>
        
    </div>
</article>

{% endblock content %}
