{% extends 'clients/base.html' %}
{% load static %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata mb-2">
            <div class="row">
                <div class="col-md-9 d-flex align-items-center">
                    <small class="text-muted">Last Modified: {{ object.date_posted|date:'F d, Y' }}</small>
                </div>
                <!-- <div class="col-md-3 d-flex align-items-center justify-content-end">
                    <div class="edit-btns">
                        {% if object.author == user %}
                        <a class="btn btn-secondary  my-1 text-capitalize"
                            href="{% url 'post-update' object.id %}">update client</a>
                        <a class="btn btn-danger  my-1 text-capitalize" href="{% url 'post-delete' object.id %}">delete
                            client</a>
                        {% endif %}
                    </div>
                </div> -->
            </div>
        </div>

        <div class="client-header d-flex align-items-center border-bottom mb-5 pb-2">
            <h2 class="client-name mr-auto" style="margin-bottom: 0;">{{ object.client_name }}</h2>
            <a href="{{ object.client_linkedinurl }}" class="mr-3">
                <img src="{% static 'clients/img/linkedin-icon.svg' %}" alt="Linkedin Logo" target="_blank" width="45">
            </a>
            <a href="{{ object.client_salesforceurl }}">
                <img src="{% static 'clients/img/salesforce.svg' %}" alt="Linkedin Logo" target="_blank" width="64">
            </a>
        </div>

        <div class="row">
            <div class="col">
                <p class="client-data text-muted border-bottom">Client ID: <span
                        class="client-info text-uppercase">{{ object.client_ID }}</span></p>
                <p class="client-data text-muted border-bottom">Password: <span
                        class="client-info">{{ object.client_password }}</span></p>
                <p class="client-data text-muted border-bottom">Products: <span
                        class="client-info">{{ object.client_products }}</span></p>
                <p class="client-data text-muted border-bottom">FTP: <span
                        class="client-info">{{ object.client_FTP }}</span></p>
            </div>
            <div class="col">
                <div class="col-md-10">
                    <p class="client-data text-muted border-bottom">API Login: <span
                            class="client-info">{{ object.client_API_login }}
                            </Login:>
                    </p>
                    <p class="client-data text-muted border-bottom">API Password: <span
                            class="client-info">{{ object.client_API_password }}</span></p>
                    <p class="client-data text-muted">
                        API Usage <span class="client-info">00</span> calls today.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="client-data text-muted border-bottom">Latest Client Notes: <br>
                    <span class="client-info">{{ object.client_notes }}</span>
                </p>
            </div>
        </div>


        <div class="platform-btns">
            <a class="btn btn-primary my-1 mr-2 text-capitalize"
                href="https://dashboard.pixalate.com/reports.html?clientId={{ object.client_ID }}&reportId=overview"
                target="_blank">dashboard</a>
            <a class="btn btn-secondary my-1 text-uppercase mr-2" href="#" target="_blank">mrt</a>
            <a class="btn btn-success my-1 text-capitalize mr-2" href="{{ object.client_qaresults }}" target="_blank">QA
                Results</a>
            <a class="btn btn-pendo my-1 text-capitalize mr-2"
                href="https://app.pendo.io/visitor/{{ object.client_ID }}" target="_blank">Pendo</a>
        </div>

        <h5 class="info-title-break mb-2 py-1">Salesforce:</h5>

        <p>Salesforce infomation goes here:</p>

        <h5 class="info-title-break mb-2 py-1">Jira Tickets:</h5>

        <p>{{ jira_data }}</p>

        <h5 class="info-title-break mb-2 py-1">Test API:</h5>

        <p>{{ base }}</p>

        <div class="border-top">
            <div class="edit-btns pt-2">
                <a class="btn btn-secondary  my-1 text-capitalize" href="{% url 'post-update' object.id %}">update
                    client</a>
                {% if object.author == user %}
                <a class="btn btn-danger  my-1 text-capitalize" href="{% url 'post-delete' object.id %}">delete
                    client</a>
                {% endif %}
            </div>
        </div>

    </div>
</article>

{% endblock content %}