/* -- Globals --*/
html,
.root {
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.btn {
  font-size: 0.825rem;
  letter-spacing: 1px;
}

.table td,
.table th {
  vertical-align: middle !important;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: auto;
  color: #333333;
  /* -- navigation --*/
  /* -- home page --*/
  /*-- client page --*/
}

body .navbar-brand {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

body .table {
  font-size: 0.825rem;
}

body .content-section {
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

body .content-section .client-name {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

body .content-section .client-data {
  font-size: 0.825rem;
}

body .content-section .client-info {
  font-size: 0.875rem;
  color: #333;
}

body .content-section .info-title-break {
  background: #f3f3f3;
  border-radius: 2px;
  padding-left: 10px;
}

/* -- login_home -- */
.login-home {
  background-color: #F4F6F9;
}

.login-home .login_block {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  padding: 20px 0px 0px;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.login-home .login_logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
  max-height: 113px;
  display: block;
}

.login-home .login_block_inner {
  width: 380px;
  color: #16325c;
  margin: 0px auto;
  padding: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: #d8dde6;
  -o-border-image: initial;
     border-image: initial;
  background-color: #fff;
}

.login-home .form-signin {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  margin: auto;
  border: #333;
}

.login-home .form-signin .checkbox {
  font-weight: 400;
}

.login-home .form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 0.8125rem;
}

.login-home .form-signin .form-control:focus {
  z-index: 2;
}

.login-home .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login-home .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-home .col-form-label {
  font-size: 80%;
  font-weight: 400;
}

/* -- Cory's Styles --*/
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */